*{
    list-style: none;
    text-decoration: none;
}
.wrapper{
    width: 800px;
    height: 480px;
    /* border: solid 2px #333; */
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* align-content: space-around; */
}
.content{
    width: 182px;
    height: 234px;
    /* border: solid 2px #333; */
}
.cover{
    width: 140px;
    height: 140px;
    
    /* border: solid red 2px; */
    float: right;
    /* position: relative; */
    /* left: 42px; */
    /* margin: 2px 2px 0; */
}
/* .cover a{ */
    /* width: 100%; */
    /* height: 100%; */
    /* background-color: red; */
    /* display: block; */
    /* position: relative; */
    
/* } */
.txt a{
    
    color: #000;
}
.txt a:visited{
   
    color: #666;
}
img{
    width: 140px;
    height: 140px;
    border-radius: 4px;
}
.play{
    width: 140px;
    /* height: 80px; */
    position: relative;
    left: 42px;
    /* background-color: rosybrown; */
    /* float: right; */
    /* z-index: 999; */
}
.play span{
    /* display: inline-block; */
    position: absolute;
    right: 0px;
    color: #fff;
    font-size: 10px;
    /* background-color: red; */
    /* float: right; */
}
.txt{
    /* display: inline; */
    float: right;
    width: 140px;
    /* background-color: red; */
    font-size: 14px;
    margin: 4px 0px;
}